
*
{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}
.html{
    font-size: 62.5%;
}
/* INDEX */
.contenedor-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}
.header-text a{
    text-decoration: none;
    color: black;
    
}
.header-text a:hover{
    color: black;
}
.contenedor-nav .header-text h1{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;  
}
.contenedor-nav .header-text h2{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;    
}
.header-nav{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.header-nav .nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.header-nav .nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    
}
.header-nav .nav-menu ul li{
    list-style: none;
    padding: 0 .8rem;
}
.header-nav .nav-menu ul li:hover{
    transform: translateY(-5px) scale(1.05);
    
}
.header-nav .redes-nav ul li{
    display: inline-block;
    margin: 0 .3rem;     
}
.header-nav .redes-nav ul li:hover{
    transform: translateY(-5px) scale(1.05);
}
.header-nav .redes-nav img{
    width: 3rem;
    height: auto;
}
.container-main{
    grid-area: container-main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 3rem;
    grid-template-areas: 
    "carouselB carouselB carouselB carouselB"
    "video-tendencia video-tendencia video-tendencia video-tendencia"  
    ;
}
.container-main .carouselB{
    /* EL CARROUSEL NO ME TOMA LAS COLUMNAS PARA QUE QUEDE CENTRADO  */
    grid-area: carouselB;
    grid-column: 2/4;
    grid-row: 1/2;
    
}
.container-main .carouselB{
    width: 45rem;
    height: auto;
}
.container-main .carousel-texto p{
    margin-top: 3rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
    line-height: 1.6;
    text-align: center; 
}
.container-main .video-tendencia{
    grid-area: video-tendencia;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.container-main .video-tendencia{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;   
}
.container-main .texto-tendencia{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center; 
}
.container-main .texto-tendencia .video-texto{
    justify-items: center;
    align-items: center; 
    
}
.container-main .texto-tendencia  p{
    margin-top: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    text-align:left;
    margin-bottom: .3rem;    
}
.container-main .texto-tendencia  h3{
    margin-top: 1rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.6rem;
    line-height: .6;  
    margin-bottom: 2.5rem;
    text-align: center;
    
}
.container-main .video-texto p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;   
}
.container-main .video-tendencia .video{   
    padding: 4rem;  
    
}
.container-footer
/* ME GUSTARIA QUE TUVIERA MENOS ESPACIO ENTRE COLUMNAS, PERO NO SE COMO HACER */
{  
    grid-area: container-footer;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: wrap;
    padding: 2rem;
    justify-content: space-between;
    max-width: 1260px;
    margin: auto;
    background-color: #e1e1e1;
    
}
.container-footer ul{
    list-style: none;
}
.container-footer .columna-1{
    justify-items: center;
    align-items: center;
}
.container-footer .columna-1 h3{
    
    margin-top: 2rem;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.container-footer .columna-1 ul li a{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.container-footer .columna-2{ 
    margin-top: 4rem;
    justify-items: center;
    align-items: center;
    
}
.container-footer .columna-2 ul li a{
    
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.container-footer .columna-3{
    margin-top: 3rem;
    justify-items: center;
    align-items: center;
    
}
.container-footer .columna-3 ul li a{ 
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.container-footer .columna-3 img{
    width: 3rem;
    height: auto;
    vertical-align: middle;
}

/* Ahora aplicaré estilos a recetas */

.subproductos{ 
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap: 10rem;
    row-gap: 1rem;    
    margin-top: 2rem;  
    text-align: center; 
    
}
.subproductos img{
    margin: .5rem;
    width: 25rem;
    height: auto; 
}
.subproductos img:hover{
    transform: translateY(-5px) scale(1.05);
}
.subproductos p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
    text-decoration: underline;  
}
.subproductos p:hover{
    transform: translateY(-2px) scale(.95);
}
.subproductos .item-1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.subproductos .item-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.subproductos .item-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.subproductos .item-4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.subproductos .item-5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.subproductos .item-6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.subproductos .item-7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.subproductos .item-8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
/* Artículos */

.articulos-alimentacion h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;  
}

.receta
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
   
}

.receta .receta-foto
{
    text-align: center;
    justify-self: center;
    align-self: center;
  
}

.receta .receta-foto h2
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.receta .receta-foto img
{
    width: 35rem;
    height: auto;
}

.receta .receta-texto
{
    width: 50%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.receta .receta-texto p
{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
}
.receta .receta-ing
{
    width: 50%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
 
.receta .receta-ing h3
{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  /*   margin: 1rem; */
    /* text-align: center;
     */
}

.receta .receta-ing p
{
    
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
    
}

.receta .receta-procedimiento
{
    width: 50%;
    margin-bottom: 3rem;
}

.receta .receta-procedimiento h3
{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem;
    
}

.receta .receta-procedimiento p
{
    
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
   
}


/* articulos */

.artVeganismo-Grid
{
    display: grid; 
    justify-self: center;
    align-self: center; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr) ;
    column-gap: 10rem;
    row-gap: 1rem; 
    grid-template-areas: 
    "artVeganismo artVeganismo artVeganismo artVeganismo"   
    ;  
   

}

.artVeganismo
{
    grid-area: artVeganismo;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: solid 2px black;
    padding: 2rem;
}

.artVeganismo .artVeganismo-foto h2
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
}

.artVeganismo .artVeganismo-foto img
{
    margin: .5rem;
    width: 25rem;
    height: auto;
    
}


.artVeganismo .artVeganismo-text p
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
    /* margin-bottom: 3rem; */

}
.artVeganismo img:hover
{
    transform: translateY(-5px) scale(1.05);
}



/* El articulo que habla sobre los comienzos del veganismo */

.veganismo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 1rem auto;
    
}

.veganismo .artVegan-foto
{
    text-align: center;
    justify-self: center;
    align-self: center;
  
}

.veganismo .artVegan-foto h2
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.veganismo .artVegan-foto img
{
    width: 35rem;
    height: auto;
}

.veganismo .artVegan-text
{
   width: 100%;
   margin-top: 3rem;
 
    
}

.veganismo .artVegan-text p
{

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
}

/* lugares */

.artLugares-grid
{
    display: grid; 
    justify-self: center;
    align-self: center; 
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr) ;
    column-gap: 10rem;
    row-gap: 1rem; 
    grid-template-areas: 
    "lugares lugares lugares lugares"
    "artLugares-Rio artLugares-Rio artLugares-Rio artLugares-Rio"
    "artLugares-BA artLugares-BA artLugares-BA artLugares-BA"
    "artLugares-SP artLugares-SP artLugares-SP artLugares-SP"   
    ;         

}
.lugares{
    grid-area: lugares;
    grid-column: 2/4;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin-top: 3rem;

}

.artLugares-Rio
{
    margin-top: 15rem;
    grid-area: artLugares-Rio;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: solid 2px black;
    padding: 2rem;
}

.artLugares-Rio .artLugares-Rio-foto h3
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
}

.artLugares-Rio .artLugares-Rio-foto img
{
    margin: .5rem;
    width: 25rem;
    height: auto;
    
}

.artLugares-Rio .artLugares-Rio-text p
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
    /* margin-bottom: 3rem; */

}
.artLugares-Rio img:hover
{
    transform: translateY(-5px) scale(1.05);
}

.artLugares-BA
{
    grid-area: artLugares-BA;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: solid 2px black;
    padding: 2rem;
    
}

.artLugares-BA .artLugares-BA-foto h3
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
}

.artLugares-BA .artLugares-BA-foto img
{
    margin: .5rem;
    width: 25rem;
    height: auto;
    
}


.artLugares-BA .artLugares-BA-text p
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
    /* margin-bottom: 3rem; */

}
.artLugares-BA img:hover
{
    transform: translateY(-5px) scale(1.05);
}
.artLugares-SP
{
    grid-area: artLugares-SP;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: solid 2px black;
    padding: 2rem;
    margin-bottom: 3rem;
}

.artLugares-SP .artLugares-SP-foto h3
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
}

.artLugares-SP .artLugares-SP-foto img
{
    margin: .5rem;
    width: 25rem;
    height: auto;
    
}


.artLugares-SP .artLugares-SP-text p
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3rem;
    color: black;
    /* margin-bottom: 3rem; */

}
.artLugares-SP img:hover
{
    transform: translateY(-5px) scale(1.05);
}

/* Sobre Mí */
.sobreMi-flexbox{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.sobreMi{
    justify-content: center;
    align-content: center; 


}
.sobreMi .imagen-contacto{
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 5rem;
  
}
.sobreMi .imagen-contacto img{
    width: 35rem;
    height: auto;
}

/* no puedo alinear el texto para que quede debajo de la imagen y que no este con text align center */
.sobreMi .sobremi-texto
{
    width: 60%;
    margin-bottom: 3rem;
    margin-top: 5rem;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.sobreMi .sobremi-texto p
{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 10px;
      
}

/* FORMULARIO DE CONTACTO, LO SAQUÉ DE UNA PÁGINA QUE ME AYUDÓ */
.sobreMi .formulario{  

    width: 100%; 
    height: auto;
    margin-top: 5rem;
    border-radius: 1rem;  
    padding-top: 5rem;
    padding-bottom: 2rem;   
    padding-left: 2rem;
    justify-content: center;
    align-content: center; 
  }
  
  
  input{
    justify-items: center;
    align-items: center;
    width: 30rem; 
    height: 2rem; 
    border-radius: 1rem;  
    border: 1px solid #000; 
    margin-top: .5rem;  
    padding-left: 3rem;
    margin-bottom: 1rem; 
  }
  
  
  textarea{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: white; 
    width: 30rem; 
    height: 150px; 
    border-radius: 5px;  
    border: 1px solid #000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  /* tampoco puedo centrar el boton de enviar */
 button{
     justify-items: center;
     align-items: center;
    height: 3rem; 
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #0a9929; 
    border-color: #0a9929; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: white; 
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  
  
  span{
    color: #000; 
  }
  
  
  .aviso{
    font-size: 1rem;  
    color: #0e0e0e; 
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    
  }
  
  
  h3{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;  
    text-align: center; 
    padding-bottom: 20px; 
    color: #000;
  }
  
  
  p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;  
    text-align: center;  
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: .9rem; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }

  
